/* Futuramente depois de terminar os estudos TRANSPOR O SITE PARA O FORMATO CORRETO ATUAL COM A SEMÂNTICA CORRETA*/

@media print {

    /* faz com que na hora da impressão ele formate com essas características específicadas */
    * {
        background: transparent !important;
        border-color: #000 !important;
        box-shadow: none !important;
        color: #000 !important;
        text-shadow: none !important;
    }
}

body {
    background: #fff1d6 url(images/noise.png);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
}

h1 a:hover {
    background-color: #7e9f19;
    color: #fff;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.container a {
    color: #7e9f19;
    text-decoration: none;
}

article {
    background-color: white;
    border-color: #ccc #999 #999 #ccc;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.place h2 {
    border-bottom: 1px dashed #7e9f19;
    margin: 0;
}

.place a {
    color: #2c88a7;
    font-weight: bold;
}

.place img {
    float: left;
    width: 200px;
    border: 1px solid #7e9f19;
    margin: 10px 10px 0 0;
    padding: 5px;
}

.footer {
    background-color: chartreuse;
    font-size: 12 px;
    text-align: center;
}

.places {
    float: left;
    width: 660px;
}

aside {
    background-color: #fffbe4;
    border: 1px solid #c9bc8f;
    padding: 10px;
    float: right;
    padding: 10px;
    width: 260px;
}

.sidenote h3 {
    font-size: 14px;
    margin-top: 0;
}

.sidenote ol {
    font-size: 12px;
}

.clear {
    clear: both;
}